@import '/styles/var.scss';

.pageNav {
  margin: 3rem 0rem;
  display: flex;
  justify-content: space-between;
}

.navButton {
  position: relative;
  display: inline-block;
  color: inherit;
  font-size: 1.5rem;
  &:hover {
    transform: scale(1.2);
    color: $highlight
  }  
}
